<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category.capitalize %> food</p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h3>Add a review</h3>
<%= simple_form_for [@restaurant, @review] do |f| %>
<%= f.input :rating, collection: %w[0 1 2 3 4 5] %>
<%= f.input :content %>
<%= f.submit "Add review"%>
<% end %>

<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
<li><%= review.rating %> — <%= review.content %></li>
<% end %>
<%= link_to "Leave a review",  new_restaurant_review_path(@restaurant)%>
<%= link_to "Back to restaurants", restaurants_path %>
